# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\manue\OneDrive\UCL_DOC\Architecture and performance of computer science\Project\Project-LINGI2241\Projet-LINGI-improved\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
